<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>My first game</title>
  <link rel="stylesheet" href="../resources/styles/style.css">
  <script src="../src/main.js"></script>
  <script src="../src/jquery-3.1.0.min.js"></script> <!--add jquery-->

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">  
  <form id="contact" action="" method="post">
    <h3>My first game with DB</h3>
    <h4>Are you ready to play?</h4>
    <img src="../resources/img/player.png" alt="player" width="100%">
    <fieldset>
      <button class="myBtn" name="submit" type="button" id="contact-submit" data-submit="...Sending" onclick="getUserByOrder()">Get ranking</button>
    </fieldset>
    <div id="myList"></div>

  </form>
  
</div>
<!-- partial -->
  
</body>
</html>